{% extends 'template/base.html' %}

{% block title %}Home{% endblock  %}

{% block content %}
  <div class="w-full h-screen flex items-center justify-center bg-zinc-200">
    <div class="p-4 bg-zinc-400 rounded-md text-white text-center">
      <h1 class="text-4xl font-bold">
        Template PHP 1.0.0
      </h1>
      <p>
        Created by 
        <a class="text-blue-600" href="https://www.moveuptech.com.br" target="_blank">
          Moveup Tech
        </a>
      </p>
    </div>
  </div>
{% endblock content %}